<div>
    @if (showSpinner()) {
    <mat-spinner />
    } @else {
    <div class="albums-container">
        @for (pizza of pizzas(); track $index) {
        <div>
            <mat-card>
                <img class="sm:w-32 sm:h-32 md:w-32 md:w-32 lg:w-32 lg:w-32" [src]="pizza.image" [alt]="pizza.name" />
                <div class="album-content">
                    <div>
                        <mat-card-title>{{ pizza.name }}</mat-card-title>
                        <p><strong>Size:</strong> {{ pizza.size }}</p>
                        <mat-card-subtitle>Price {{ pizza.price | currency }}</mat-card-subtitle>
                        <mat-card-subtitle> {{ pizza.pizza| currency }}</mat-card-subtitle>
                    </div>

                    <div class="album-info">

                        <strong>Toppings : </strong>
                        <section>
                            @for(topping of pizza.toppings; track $index ){
                            <mat-checkbox (change)="toggle(pizza,topping,$event)" [checked]="topping.selected"
                                class="example-margin">{{topping.name}}</mat-checkbox>
                            }
                        </section>





                        <P>With Toppings: {{this.toppingsTotal | currency}}</P>
                        <mat-card-subtitle>Final Price {{finalPrice | currency }}</mat-card-subtitle>

                    </div>
                    <a (click)="addToCart(pizza)" mat-button color="primary" routerLink="/">
                        Add
                    </a>
                </div>

            </mat-card>

        </div>


        }
    </div>
    }
</div>